@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500;600;700&display=swap');

body {
    font-family: "Dosis", sans-serif;
    font-weight: 500;
letter-spacing: 1px;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 300;
    text-transform: uppercase;
}
a{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
}

section {
    padding-top: 80px;
    padding-bottom :80px;
}
img{
    width:100%;
}



#hero {
    background-image: url(../images/image.PNG);
    height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    align-items :center; 
    justify-content: center;
    background-size: cover;
    background-position: center;
}

#hero h1 {
    font-weight: 600;
    letter-spacing: 2px;
}
.overlay {
    position: relative;
    z-index :2;
}

.overlay::after{
    content:"";
    width: 100%;
    height: 100%;
    position:absolute;
    left:0;
    top:0;
    background-color: rgb(36, 44, 48,0.6);
    z-index: -1;
}

.btn 
{
    padding: 14px 32px;
    font-size: 14px;
    font-weight:600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.btn-primary{
    background-color: #3a8878;
    border-color: #3a8878;
    border-radius :100px;
    }

.btn-primary:hover{
    background-color: transparent;
    border-color: #3a8878;
}
.navbar{
    transition: all 0.4s ease;

}
.navbar-dark .navbar-nav .nav-link{
    color:white;
}
.navbar-dark .navbar-nav .nav-link .active {
    -color:rgb(155, 30, 30);
}
.intro {
    margin-bottom: 50px;
}
.intro .divider {
    background-color: #3a8878;
    height :2px;
    width : 200px;
    margin: 24px auto;

}
.icon-box{
    width: 80px;
    height: 80px;
    background-color: #3a8878;
    display: flex;
    align-items: center;
    justify-content:center;
    border-radius:100px;
    margin: 0 auto 24px auto; 
    color:rgb(220, 216, 216);
    flex:none;
    
}
.icon-box .i{
    font-size:34px;
}
#milestone {
    background-image: url(../images/image.PNG);
   
}
.counter .number{
    line-height: 1;
}
.counter .divider 
{
    width: 80px;
    height:2px;
    background-color: #3a8878; 
    margin: 18px auto; 
}
.project{
    position:relative;
    overflow: hidden;
}

.project-info{
    padding:25px;
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    background-color:#3a8878;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    text-align: center;
    opacity:0;
    transform : scale(0);
    transition: all 0.4s ease;
}
.project:hover .project-info {
    opacity: 1;
    transform: scale(1);
}

.service-box{
    display: flex;
}

#cta{
    background-color: #3a8878;

}

footer a{
    color:white;
    margin-left: 10px;
    margin-right: 10px;
}
/* @media screen and (max-width:768px)
{
    .navbar-dark .navbar-nav .nav-link{
        position:absolute;
        right:0px;
        height:92vh;
        top:8vh;
        background-color: #3a8878;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
    }
} */